body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
  background-color: rgb(59, 163, 163);
}

h1 {
  font-size: 3rem;
}

legend {
  font-size: 2rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}


input, button, .foodNumber, .response {
  font-size: 2rem;
}
input, button {
  background-color: rgb(110, 102, 91);
  color: aliceblue;
}

